*.~lock*
*.pyc
*.log
clusters*
proj/*
FileCrawler/crawled_files
DenseEvaluatorRunner/results/*
DenseEvaluatorRunner/cloud_set*
LearningExperimentRunner/nodeOutput/*
LearningExperimentRunner/results/*
LearningExperimentRunner/world_set*
TrainDataExtractor/*.csv
TrainDataExtractor/*.yaml
TrainDataExtractor/*.ods
TrainDataExtractor/input/*
TrainDataExtractor/output/*